<div class="audio nav">
  <audio>
    <source [src]="list[index]" type="audio/mp3" />
  </audio>
  <ul>
    <li class="gn" *ngFor="let item of list">{{ item }}</li>
  </ul>
  <div class="player_out_wrap">
    <div class="line_track">
      <audio id="player" [src]="list[index]"></audio>
    </div>
    <div class="player_wrap">
      <div class="side_wrap">
        <p class="gn white">
          {{ index + 1 }}.
          {{
            list[index]?.substring(
              list[index].lastIndexOf("/") + 1,
              list[index].length
            )
          }}
        </p>
      </div>
      <div>
        <div class="main_buttons">
          <button #tooltip="matTooltip" matTooltip="Previous" class="gen nav_butt" (click)="previous()">
            <svg
              role="img"
              height="16"
              width="16"
              aria-hidden="true"
              viewBox="0 0 16 16"
              data-encore-id="icon"
              class="curr_colour"
            >
              <path
                d="M3.3 1a.7.7 0 0 1 .7.7v5.15l9.95-5.744a.7.7 0 0 1 1.05.606v12.575a.7.7 0 0 1-1.05.607L4 9.149V14.3a.7.7 0 0 1-.7.7H1.7a.7.7 0 0 1-.7-.7V1.7a.7.7 0 0 1 .7-.7h1.6z"
              ></path>
            </svg>
          </button>
          <div class="toggle-play">
            <button #tooltip="matTooltip" matTooltip="Play" id="play-icon" *ngIf="!play" class="gen play_paus">
              <!-- onclick="document.getElementById('player').play()" -->
              <svg
                role="img"
                height="16"
                width="16"
                aria-hidden="true"
                viewBox="0 0 16 16"
                data-encore-id="icon"
              >
                <path
                  d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                ></path>
              </svg>
            </button>
            <button #tooltip="matTooltip" matTooltip="Pause" *ngIf="play" class="gen play_paus">
              <!-- onclick="document.getElementById('player').pause()" -->
              <svg
                role="img"
                height="16"
                width="16"
                aria-hidden="true"
                viewBox="0 0 16 16"
                data-encore-id="icon"
              >
                <path
                  d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"
                ></path>
              </svg>
            </button>
          </div>
          <button #tooltip="matTooltip" matTooltip="Next" class="gen nav_butt" (click)="next()">
            <svg
              role="img"
              height="16"
              width="16"
              aria-hidden="true"
              viewBox="0 0 16 16"
              data-encore-id="icon"
              class="curr_colour"
            >
              <path
                d="M12.7 1a.7.7 0 0 0-.7.7v5.15L2.05 1.107A.7.7 0 0 0 1 1.712v12.575a.7.7 0 0 0 1.05.607L12 9.149V14.3a.7.7 0 0 0 .7.7h1.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-1.6z"
              ></path>
            </svg>
          </button>
        </div>
        <div>
          <div class="line_wrapper">
            <div class="time">
              <p class="current gn">0:00</p>
            </div>
            <div class="timeline-wrap">
              <div class="timeline">
                <div class="progress">
                  <p class="circle"></p>
                </div>
              </div>
            </div>
            <div class="time">
              <p class="length gn"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="side_wrap end">
        <div [matMenuTriggerFor]="orderList" #tooltip="matTooltip" matTooltip="Order" class="wish_list">
          <p class="gen nav_butt">
            <svg
              role="img"
              height="16"
              width="16"
              aria-hidden="true"
              viewBox="0 0 16 16"
              data-encore-id="icon"
              class="curr_colour"
            >
              <path
                d="M15 15H1v-1.5h14V15zm0-4.5H1V9h14v1.5zm-14-7A2.5 2.5 0 0 1 3.5 1h9a2.5 2.5 0 0 1 0 5h-9A2.5 2.5 0 0 1 1 3.5zm2.5-1a1 1 0 0 0 0 2h9a1 1 0 1 0 0-2h-9z"
              ></path>
            </svg>
          </p>
        </div>
        <div class="controls">
          <div class="volume-container">
            <div class="volume-button">
              <p #tooltip="matTooltip" matTooltip="Mute"
                *ngIf="!audio.muted && audio.volume >= .6"
                class="gen nav_butt"
              >
                <svg
                  role="presentation"
                  height="16"
                  width="16"
                  aria-hidden="true"
                  aria-label="Volume high"
                  id="volume-icon"
                  viewBox="0 0 16 16"
                  data-encore-id="icon"
                  class="curr_colour"
                >
                  <path
                    d="M9.741.85a.75.75 0 0 1 .375.65v13a.75.75 0 0 1-1.125.65l-6.925-4a3.642 3.642 0 0 1-1.33-4.967 3.639 3.639 0 0 1 1.33-1.332l6.925-4a.75.75 0 0 1 .75 0zm-6.924 5.3a2.139 2.139 0 0 0 0 3.7l5.8 3.35V2.8l-5.8 3.35zm8.683 4.29V5.56a2.75 2.75 0 0 1 0 4.88z"
                  ></path>
                  <path
                    d="M11.5 13.614a5.752 5.752 0 0 0 0-11.228v1.55a4.252 4.252 0 0 1 0 8.127v1.55z"
                  ></path>
                </svg>
              </p>
              <p #tooltip="matTooltip" matTooltip="Mute"
                *ngIf="!audio.muted && audio.volume < .6"
                class="gen nav_butt"
              >
                <svg
                  role="presentation"
                  height="16"
                  width="16"
                  aria-hidden="true"
                  aria-label="Volume low"
                  id="volume-icon"
                  viewBox="0 0 16 16"
                  data-encore-id="icon"
                  class="curr_colour"
                >
                  <path
                    d="M9.741.85a.75.75 0 0 1 .375.65v13a.75.75 0 0 1-1.125.65l-6.925-4a3.642 3.642 0 0 1-1.33-4.967 3.639 3.639 0 0 1 1.33-1.332l6.925-4a.75.75 0 0 1 .75 0zm-6.924 5.3a2.139 2.139 0 0 0 0 3.7l5.8 3.35V2.8l-5.8 3.35zm8.683 4.29V5.56a2.75 2.75 0 0 1 0 4.88z"
                  ></path>
                </svg>
              </p>
              <p #tooltip="matTooltip" matTooltip="Unmute" *ngIf="audio.muted" class="gen nav_butt">
                <svg
                  role="presentation"
                  height="16"
                  width="16"
                  aria-hidden="true"
                  aria-label="Volume off"
                  id="volume-icon"
                  viewBox="0 0 16 16"
                  data-encore-id="icon"
                  class="curr_colour"
                >
                  <path
                    d="M13.86 5.47a.75.75 0 0 0-1.061 0l-1.47 1.47-1.47-1.47A.75.75 0 0 0 8.8 6.53L10.269 8l-1.47 1.47a.75.75 0 1 0 1.06 1.06l1.47-1.47 1.47 1.47a.75.75 0 0 0 1.06-1.06L12.39 8l1.47-1.47a.75.75 0 0 0 0-1.06z"
                  ></path>
                  <path
                    d="M10.116 1.5A.75.75 0 0 0 8.991.85l-6.925 4a3.642 3.642 0 0 0-1.33 4.967 3.639 3.639 0 0 0 1.33 1.332l6.925 4a.75.75 0 0 0 1.125-.649v-1.906a4.73 4.73 0 0 1-1.5-.694v1.3L2.817 9.852a2.141 2.141 0 0 1-.781-2.92c.187-.324.456-.594.78-.782l5.8-3.35v1.3c.45-.313.956-.55 1.5-.694V1.5z"
                  ></path>
                </svg>
              </p>
            </div>
            <div class="volume-slider-wrap">
              <div class="volume-slider">
                <div *ngIf="!audio.muted" class="volume-percentage">
                  <p class="circle-audio"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-menu #orderList="matMenu">
  <ng-template matMenuContent>
    <div>
      <p class="gn" *ngFor="let item of list">{{ item }}</p>
    </div>
  </ng-template>
</mat-menu>