<div class="client-main-component">
  <p class="header_m medium bold center">
    Табель служения на неделю {{ datesRange }}
  </p>
  <div class="flex justify-center my-4" [formGroup]="form">
    <mat-form-field appearance="fill" class="week-picker w-[340px] text-lg">
      <mat-label>Выберите неделю начиная с понедельника</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="weekControlGroup">
        <input matStartDate placeholder="Start date" formControlName="fromTime">
        <input matEndDate placeholder="End date" formControlName="toTime">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="flex justify-center">
    <div class="flex justify-between my-4" style="width: 800px;">
      <button mat-raised-button (click)="openUsersDialog()">Перейти к настройкам Пользоветелей</button>
      <button mat-raised-button (click)="uploadToFirestore()">Загрузить на сервер</button>
      <button mat-raised-button (click)="openDialog()">Перейти к настройкам Служения</button>
    </div>
  </div>
  <div class="flex justify-center">
    <table>
      <thead>
        <tr>
          <th rowspan="3" class="header_m sm bold">№</th>
          <th rowspan="2" class="header_m sm bold">Имя</th>
          <th rowspan="2" class="header_m sm bold">Отв. на неделе</th>
          <th class="header_m sm bold" *ngFor="let day of daysOfWeek">
            {{ day.label }}
          </th>
        </tr>
        <tr>
          <th class="header_m sm bold grey-bord" *ngFor="let date of dates">
            {{ date }}
          </th>
        </tr>
        <!-- <tr>
          <th class="grey-border">
            <mat-form-field appearance="fill">
              <mat-label>Имя</mat-label>
              <mat-select [(ngModel)]="name">
                <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.name" />
                <mat-option *ngFor="let obj of names | filter : searchValue.name" [value]="obj.name">{{ obj.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>
          <th class="grey-border" *ngFor="let day of days">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple [(ngModel)]="day.value">
                <div class="inp_wrap">
                  <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                    [(ngModel)]="searchValue.d1" />
                </div>
                <mat-option *ngFor="let option of options | filter : searchValue.d1" [value]="option.name">{{ option.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </th>
        </tr> -->
      </thead>
      <tbody [formGroup]="form">

        <ng-container *ngIf="usersMonah?.length">
          <ng-container *ngTemplateOutlet="tableItems; context: {userItems: usersMonah, array: 'usersMonah'}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="usersPoslushnik?.length">
          <ng-container *ngTemplateOutlet="tableItems; context: {userItems: usersPoslushnik, array: 'usersPoslushnik'}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="usersKandidat?.length">
          <ng-container *ngTemplateOutlet="tableItems; context: {userItems: usersKandidat, array: 'usersKandidat'}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="usersKandidat?.length">
          <ng-container *ngTemplateOutlet="tableItems; context: {userItems: usersBrahmashari, array: 'usersBrahmashari'}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="usersMiranin?.length">
          <ng-container *ngTemplateOutlet="tableItems; context: {userItems: usersMiranin, array: 'usersMiranin'}">
          </ng-container>
        </ng-container>
  
  
      </tbody>
    </table>
  </div>
  <div class="b_wrap">
    <!-- <button class="b_gn" mat-raised-button (click)="add()">Add</button>
    <button class="b_gn" mat-raised-button (click)="addSpace()">addSpace</button> -->
    <button mat-raised-button (click)="exel()">Импорт в Excel</button>
  </div>
  <div class="flex flex-col">
    <h2 class="mr-2 text-center">
      Список обязательного служения
    </h2>
    <div class="flex flex-row justify-center">
      <div *ngFor="let requiredService of requiredServicesLost; let i = index;" class="mr-2 text-base"> {{i+1}}. {{requiredService.name}};
      </div>
    </div>
    <h2 class="mr-2 text-center" *ngIf="!isUsedAllRequired">
      Пропущенные дни:
    </h2>
    <!-- <h2 class="mr-2 text-center text-red-600" *ngIf="!isUsedAllRequired">
      Внимание! Не все обязательное служение было расставлено! Обратите внимание.
    </h2> -->
    <div class="flex flex-row justify-center" *ngIf="!isUsedAllRequired">
      <!-- <div class="inline-flex mr-2" >Пропущенные дни:</div> -->
      <div *ngFor="let requiredDay of requiredDaysLost; let i = index;" class="mr-2 text-base">
         {{requiredDay.label}} {{ i == requiredDay?.length -1 ? '.' : ','}}
      </div>
    </div>
  </div>

</div>

<ng-template #tableItems let-items="userItems" let-array="array">
  <ng-container [formGroup]="form">
    <ng-container [formArrayName]="array">
      <tr *ngFor="let item of items; let i = index">
        <ng-container>
          <td>{{ i + 1 }}</td>
          <td class="header_m sm bold">{{ item.name }}</td>
          <td class="yellow" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d0">
                <mat-option *ngFor="let option of options" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <!-- <select name="" id="">
              <option value="" selected></option>
              <ng-container *ngFor="let option of options">
                <option (click)="toggleOption(option, array, i, 'd1')" [ngClass]="{'selected' : isOptionSelected(usersMonahArray.controls[i].get('d1').value, option.name)}" [selected]="isOptionSelected(usersMonahArray.controls[i].get('d1').value, option.name)">
                  <span (click)="toggleOption(option, array, i, 'd1')">
                    {{option.name}}
                  </span>
                </option>
              </ng-container>
              
            </select> -->
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <!-- <select matNativeControl>
                <option value="" selected></option>
                <option *ngFor="let option of options" [value]="option.name">{{option.name}}</option>
              </select> -->
              <mat-select multiple formControlName="d1">
                <mat-option *ngFor="let option of options" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d2" [ngClass]="{'notValid': form?.controls?.usersPoslushnikArray?.controls[i]?.controls?.d2?.errors}">
                <div class="inp_wrap">
                  <!-- <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.d1" /> -->
                </div>
                <mat-option *ngFor="let option of options" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d3">
                <div class="inp_wrap">
                  <!-- <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.d1" /> -->
                </div>
                <mat-option *ngFor="let option of options" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d4">
                <div class="inp_wrap">
                  <!-- <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.d1" /> -->
                </div>
                <mat-option *ngFor="let option of options | filter : searchValue.d1" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d5">
                <div class="inp_wrap">
                  <!-- <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.d1" /> -->
                </div>
                <mat-option *ngFor="let option of options | filter : searchValue.d1" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d6">
                <div class="inp_wrap">
                  <!-- <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.d1" /> -->
                </div>
                <mat-option *ngFor="let option of options | filter : searchValue.d1" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Служение</mat-label>
              <mat-select multiple formControlName="d7">
                <div class="inp_wrap">
                  <!-- <input #multiUserSearch type="text" autocomplete="off" matInput placeholder="Поиск"
                  [(ngModel)]="searchValue.d1" /> -->
                </div>
                <mat-option *ngFor="let option of options" [value]="option.name">{{
                  option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

      </tr>
      <tr class="min-heigth">
        <td class="min-heigth"></td>
      </tr>
    </ng-container>
  </ng-container>

</ng-template>