
// app-service-dialog {
    .min-heigth {
        height: 28px;
    }

    table {
        border: 2px solid rgb(31, 31, 31);
        border-collapse: collapse;

        th,
        td {
            border: 2px solid black;
            padding: 3px;
        }

        th.grey-bord {
            border-right: 2px solid rgb(192, 189, 189);
            border-bottom: 2px solid rgb(192, 189, 189);
        }

        th.grey-border {
            border-right: 2px solid rgb(192, 189, 189);
        }

        th.grey-bord:last-child {
            border-right: 2px solid rgb(31, 31, 31);
        }

        th.grey-border:last-child {
            border-right: 2px solid rgb(31, 31, 31);
        }
    }

    .wrapper {
        width: 100%;
        height: 100%;
        font-size: 18px
    }

    
    .content {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        min-height: 100%;
        display: flex;
        justify-content: start;
    }
    
    .table-container {
        // justify-content: center;
        // flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        max-height: 600px;
        overflow: auto;
    }
    
    .add-user-container {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // background-color: rgb(179, 231, 255);
        padding: 15px;
        margin-top: 10px;
        border-radius: 15px;
    }
    
    .main-header {
        text-align: center;
    }
    
    table {
        // border-collapse: collapse;
        border: 1px solid grey;
        border-radius: 10px;
    
        tr {
            border-bottom: 2px solid #cecece;
    
        };
        th,
        td {
            padding: 12px 8px;
        }
        // tbody {
        //     max-height: 400px;
        //     overflow: auto;
        // }
    }
    
    .flex {
        display: flex;
    }
    .center {
        align-items: center;
        justify-content: center;
    }
    
    .items {
        display: flex;
        flex-direction: column;
    }
    
    .item-info {
        width: 100px;
        display: flex;
        align-items: center;
    }
    
    .item-container {
        margin: 10px 0;
    }
    .add-button {
        padding: 5px 20px;
    }
    .flex-col {
        flex-direction: column;
    }
    .right-els {
        display: flex;
        flex-direction: column;
        margin-right: 70px;
    }
    .left-els {
        display: flex;
        flex-direction: column; 
    }
    .mt {
        margin-top: 50px;
    }
    .ml {
        margin-left: 20px;
    }
    .td-item {
        padding: 5px 10px;
    }
    .table-container {
        overflow: auto;
        max-height: 600px;
    }
// }